:root
{
--primario :#5a7bac;
--primari  :#d33c3c;
--segundo :#631212;
--lol :#631212;
}
body
{
    background-color: #EEFFF5;
}

header
{
    font-size: 3rem;
    color: var(--primario);
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  color var(--segundo),
  'FILL' 3,
  'wght' 400,
  'GRAD' 5,
  'opsz' 48
}
img
{
  width: 15;
  height: 15;
}
.html
{
    width: 30rem;
    height: 30rem;
}
#web 
{
  display: flex;
  color: #5a7bac;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
}
.htm2
{
    display: flex;
    justify-content: scenter;
     font-size: 25px;
     color: #5f5656;
     font-family: 'Roboto Mono', monospace;
     } 
#h1
{
  display: flex;
    justify-content: scenter;
     font-size: 25px;
     color: #5f5656;
     font-family: 'Roboto Mono', monospace;
}
nav .htm2 .sp2
{
color:purple;
}
